################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Prog2Engine/FileContentIndex/4a6425e7-bd06-4870-b846-1b58ddb66b4e.vsidx
/.vs/Prog2Engine/v17/Browse.VC.opendb
.vs/Prog2Engine/FileContentIndex/f3756fbc-d888-4ceb-8b0a-ff192337a73f.vsidx
/.vs/Prog2Engine/FileContentIndex/8f3cc169-4a87-4351-8fbf-7f71f02046a9.vsidx
/.vs/Prog2Engine/FileContentIndex/1929a636-d0d2-41db-971b-5f972a69a5db.vsidx
/.vs/Prog2Engine/FileContentIndex/c91c7dd4-1e32-43ec-b1ea-8ddb857e07c2.vsidx
/.vs/Prog2Engine/FileContentIndex/07726ccb-0378-4aea-86e6-29d7257fc3b7.vsidx
/.vs/Prog2Engine/FileContentIndex/a39de1a1-9c24-40b7-a8f6-74ee70dfb989.vsidx
.vs/Prog2Engine/FileContentIndex/a2dbd9a7-bfe9-464d-9df1-68ec29071bed.vsidx
/.vs/Prog2Engine/FileContentIndex/274cbfa2-4335-45c9-a675-2a4da7dc55ba.vsidx
/.vs/Prog2Engine/FileContentIndex/4b0a131b-0775-4a1b-8773-0a93e3f4243e.vsidx
/.vs/Prog2Engine/FileContentIndex/5d4d1707-52fc-4353-be76-de278747907f.vsidx
/.vs/Prog2Engine/FileContentIndex/7114f5c0-6c80-4b9f-a313-020a5ea69839.vsidx
/.vs/Prog2Engine/FileContentIndex/187e5c59-6913-4163-94cc-0ef921ff9b9d.vsidx
/.vs/Prog2Engine/FileContentIndex/3e300f97-9492-45e7-a7f5-19b129f864f9.vsidx
/.vs/Prog2Engine/FileContentIndex/620ef8f3-ac47-458e-914b-a4245edee5d4.vsidx
